main{
    background-image: url('../../img/sfondo.jpg');

    .container-cards{
        width: 80%;
        margin: 0 auto;
        h1{
            margin: 20px;
        }
        .cards{
            display: flex;
            flex-wrap: wrap;



            .card{
                position: relative;
                flex-basis: calc(100% / 3 - 40px);
                margin: 20px;
                @media screen and (max-width: 800px) {

               flex-basis: calc(100% / 2 - 40px);

               }
               @media screen and (max-width: 600px) {

               flex-basis: calc(100% - 40px);

               }
                &:hover{
                    .hover{
                        display: block;

                    }
                }
                img{

                    width: 100%
                }


            }

        }
        .hover{
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            h2{
                font-size: 14px;
            }


        }
    }


}
