.card-background{
    background-color: #B8DAE5;
    .card-products{
        position: relative;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        color: blue;
        padding-bottom: 50px;
        img{
            width: 100%;
        }
        .sinistra{

            position: absolute;
            top: 50%;
            i{
                font-size: 40px;
                cursor: pointer;
            }
        }
        .destra{

            position: absolute;
            top: 50%;

            right: 0;
            i{
                font-size: 40px;
                cursor: pointer;
            }
        }
    }
}
